@layer base, utils, components;

@import "@webtui/css/base.css";

@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/plugin-nf";
@import "@fontsource/maple-mono/200.css";
@import "miniwinter.css";

@layer base {
  :root {
    --font-size: 15px;
    --font-family: "Maple Mono", Menlo, Monaco, monospace, "Symbols Nerd Font";
  }

  @media screen and (min-width: 900px) {
    html {
      margin-top: 1rem;
      background: linear-gradient(to right,
          var(--bg0) 0%,
          var(--bg0) min(75%, calc(50% + 150px)),
          var(--bg4) min(75%, calc(50% + 150px)),
          var(--bg4) 100%);
    }
  }

  @media screen and (max-width: 900px) {
    html {
      margin-top: 1rem;
      background: var(--bg0) !important;
    }
  }

  body {
    background: transparent;
  }
}

.center {
  margin: 0 auto;
  width: min(80%, 1000px);
  max-height: 95%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .center {
    width: 95%;
  }
}

footer {
  margin-top: 1rem;
  position: fixed;
  inset: auto 0 0 0;
  text-align: center;
  color: var(--fg0);
  font-size: 13px;
}



[box-~="square"] {
  --box-border-color: rgba(255, 255, 255, 0.0);
}

@layer components {
  [is-~="badge"] {
    background-color: transparent;
  }
}

p,
blockquote,
li,
[is-~="typography-block"] {
  strong {
    color: var(--yellow) !important;
  }

  mark {
    background-color: var(--bg3) !important;
    color: var(--teal);
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    border-radius: 8px;
  }
}

[is-~="badge"] a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  container-type: inline-size;
  container-name: card-container;
}

.card {
  display: flex;
  flex-direction: column;
}

@container card-container (min-width: 700px) {
  .card {
    flex-direction: row;
  }
}

@container card-container (min-width: 700px) {
  .card {
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 2rem;
  }
}


ul {
  display: inline-block;
  text-align: left;
}

button a {
  text-decoration: none;
  color: inherit;
}
