@layer base, utils, components;

@import "@webtui/css/base.css";

/*@import "@webtui/css/components/badge.css";*/
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/plugin-nf";

@import '@webtui/theme-catppuccin';
@layer base {
  :root {
    --font-size: 16px;
    --font-family: "JetBrainsMono", Menlo, Monaco, monospace, "Symbols Nerd Font";
  }
  
  
  html{
    height:100%;
  }
  body{ 
    height:100%;
  }
  .center{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: min(80%, 1000px);
    max-height: 95%;
  }

  footer {
    position: fixed;
    inset: auto 0 0 0;
    text-align: center;
    color: var(--background3);
    font-size: 13px;
  }

  p,
  blockquote,
  li,
  [is-~="typography-block"] {
    mark {
      background-color: var(--background1) !important;
      color: var(--red) !important;  
      padding-left: 1ch;
      padding-right: 1ch;
    }
  }
}


@layer component{
  .header { 
      display: flex;
      justify-content: space-between; 
}
span {
  background-color: var(--background0);
  padding: 0 1ch;
}

 
}


@layer components {
  [is-~="badge"] {
    color: var(--badge-text);
    background-image: linear-gradient(
      90deg,
      transparent 0,
      transparent calc(1ch - 1px),
      var(--badge-color) calc(1ch - 1px),
      var(--badge-color) calc(100% - 1ch + 1px),
      transparent calc(100% - 1ch + 1px),
      transparent
    );
    display: inline-flex;
    vertical-align: middle;
    white-space: nowrap;
    height: 1lh;
    line-height: 1lh;

    /* Color Variants */
    &[variant-="foreground0"],
    &:not([variant-]) {
      --badge-color: var(--foreground0);
      --badge-text: var(--background0);
    }

    &[variant-="foreground1"] {
      --badge-color: var(--foreground1);
      --badge-text: var(--background0);
    }

    &[variant-="foreground2"] {
      --badge-color: var(--foreground2);
      --badge-text: var(--background0);
    }

    &[variant-="background0"] {
      --badge-color: var(--background0);
      --badge-text: var(--foreground0);
    }

    &[variant-="background1"] {
      --badge-color: var(--background1);
      --badge-text: var(--foreground0);
    }

    &[variant-="background2"] {
      --badge-color: var(--background2);
      --badge-text: var(--foreground0);
    }

    &[variant-="background3"] {
      --badge-color: var(--background3);
      --badge-text: var(--foreground0);
    }

    &::before,
    &::after {
      content: "";
      width: 1ch;
      height: 1lh;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      /*overflow: hidden;*/
    }

    /* Cap Styles */
    &[cap-^="round"]::before {
      content: "x";
      border-top-left-radius: 1lh;
      border-bottom-left-radius: 1lh;
      
    }

    &[cap-$="round"]::after {
      border-top-right-radius: 1lh;
      border-bottom-right-radius: 1lh;
    }

    &[cap-^="triangle"] {
      clip-path: polygon(1ch 50%, 1lh 100%, calc(100% - 1lh) 100%, calc(100% - 1ch) 50% , calc(100% - 1lh) 0, 1lh 0);
    }

    &[cap-^="slant-top"] {
      clip-path: polygon(1ch 0, 1lh 100%, calc(100% - 1lh) 100%, calc(100% - 1ch) 0);
    }
     &[cap-^="slant-top"]::before, &[cap-^="slant-top"]::after {
      content: "";
      width: 1.5ch;
      height: 1lh;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
     }


   
    &[cap-^="slant-bottom"] {
      clip-path: polygon(1lh 0, 1ch 100%, calc(100% - 1ch) 100%, calc(100% - 1lh) 0);
    }


    &[cap-^="ribbon"] {
      clip-path: polygon(1lh 50%, 1ch 100%, calc(100% - 1lh) 100%, calc(100% - 1ch) 50% , calc(100% - 1lh) 0, 1ch 0);
      margin-right: -1.5rem;
    }
    &[cap-^="ribbon"]::before, &[cap-^="ribbon"]::after {
      content: "";
      width: 1.5ch;
      height: 1lh;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
     }
      &[cap-^="ribbon"]:hover {
         --badge-color: var(--mauve);
         font-weight: 600;
    }
  }
}